/*
**************************************************************
  @author : A.M Zumry
  Registration Number : IT19175126
************************************************************
*/

.outer-shadow-Tickets {
    box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
}

/* --------------------
Attendees tickets title section
-------------------- */

.section-title {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin: 0;
}

/* --------------------
Attendees tickets section
-------------------- */

.Tickets-container {
    max-width: 1140px;
    margin: auto;
}

.Tickets-row {
    display: flex;
    flex-wrap: wrap;
}

.Tickets-section{
    padding: 80px 0 80px;
    min-height: 100vh;
    background-color: #F0F0F0;
}

.Tickets-section .Tickets-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.Tickets-section .Tickets-item-inner{
    padding: 50px 15px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.Tickets-section .Tickets-item-inner h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 10px;
    text-transform: capitalize;
}

.Tickets-section .Tickets-item-inner p {
    font-size: 16px;
    color: var(--text-black-600);
    margin: 0;
    line-height: 26px;
}

/* --------------------
Attendees tickets button section
-------------------- */

.Start-btn {
    width: 150px;
    background-color: var(--btn-submit);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 15px;
    color: var(--bg-color-fff);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.Start-btn:hover {
    background-color: #4d84e2;
}