/*
**************************************************************
  @author : A.M Zumry
  Registration Number : IT19175126
************************************************************
*/

.div-style-TemDow {
    width: 400px;
    padding: 10px 20px;
    padding: 20px;
    background: #f4f7f8;
    /*margin: 165px auto 0 540px;*/
    font-family: Georgia, "Times New Roman", Times, serif;
    display: inline-block;
}