.RWItem-style-view{
    max-width: 600px;
    padding: 10px 20px;
    background: #f4f7f8;
    padding: 20px;
    background: #f2f2f2;
    margin: 20px 15px 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.RWItem-style-view fieldset{
    border: none;
}
.RWItem-style-view legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.RWItem-style-view label {
    display: block;
    margin-bottom: 8px;
}
.RWItem-style-view input[type="text"],
.RWItem-style-view input[type="date"],
.RWItem-style-view input[type="file"],
.RWItem-style-view select {
    font-family: Georgia, "Times New Roman", Times, serif;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #e6e6e6;
    color: #63686e;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin: 0 0 30px;
}
.RWItem-style-view input[type="text"]:focus,
.RWItem-style-view input[type="date"]:focus,
.RWItem-style-view input[type="file"] focus,
.RWItem-style-view select:focus{
    background: #e6e6e6;
}
.RWItem-style-view select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.RWItem-style-view .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.btnView
{
    position: relative;
    display: block;
    padding: 5px 5px 5px 5px;
    color: #FFF;
    background: #6dabe4;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    width: 31%;
    border: 1px solid #62a1e0;
    border-width: 1px 1px 3px;
    border-radius: 3px;
    margin: 0px 0 0 0px;
    float: right;
    cursor: pointer;
}

.btnView:hover
{
    background: #62a1e0;
}

.btnAccept
{
    position: relative;
    display: block;
    padding: 5px 5px 5px 5px;
    color: #FFF;
    background: #6dabe4;
    font-size: 13px;
    text-align: center;
    font-style: normal;
    width: 15%;
    border: 1px solid #62a1e0;
    border-width: 1px 1px 3px;
    border-radius: 3px;
    float: right;
    margin-left: 5px;
    cursor: pointer;
}

.btnAccept:hover
{
    background: #62a1e0;
}

.btnDecline
{
    position: relative;
    display: block;
    padding: 5px 5px 5px 5px;
    color: #FFF;
    background: #ff6801;
    font-size: 13px;
    text-align: center;
    font-style: normal;
    width: 15%;
    border: 1px solid #ff6801;
    border-width: 1px 1px 3px;
    border-radius: 3px;
    float: right;
    cursor: pointer;
}

.btnDecline:hover
{
    background: #e96302;
}

.resTag{
    width: 150px;
    padding: 5px;
}
.resTd{
    width: 450px;
    padding: 5px;
}

#fileTd{
 margin-top: 5px;
}

#pTitle{
    float: left;
    font-size: 22px;
}

#RVHeadLine{
    font-size: 25px;
    font-weight: bold;
}

#stateS{
    float: right;
    margin-top: 5px;
    margin-right: 30px;
    color: #07bc0c;
}

